@model WebLab5.Models.Lab

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure to delete?</h3>
<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input style="display: inline" type="submit" value="Delete"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>